<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.example.shoppinglist">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
   <permission android:name="com.example.shoppinglist.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

   <uses-permission android:name="com.example.shoppinglist.permission.C2D_MESSAGE"/>
   <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
   <uses-permission android:name="android.permission.WAKE_LOCK"/>
   <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
   <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
   <uses-permission android:name="android.permission.INTERNET" />
   <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="com.example.shoppinglist.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_products_list" android:name="com.example.shoppinglist.activities.ProductsListActivity" android:parentActivityName="com.example.shoppinglist.activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.example.shoppinglist.MainActivity"/>
        </activity>
        <activity android:label="@string/title_activity_options" android:name="com.example.shoppinglist.activities.OptionsActivity" android:parentActivityName="com.example.shoppinglist.activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.example.shoppinglist.MainActivity"/>
        </activity>
        <service android:name=".GCMIntentService"/>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.example.shoppinglist"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.example.shoppinglist"/>
            </intent-filter>
        </receiver>
    
        <activity android:launchMode="singleTop" android:name=".RegisterActivity"/>
</application>

</manifest>